
# numpy==1.24.4
# scipy==1.10.1
PyYAML==6.0.1
pandas==2.0.3

# Deep Learning
# torch==2.1.0a0+41361538.nv23.06
# torchvision==0.16.1
# ultralytics==8.3.21


filterpy==1.4.5

# Utilities
# tqdm==4.66.1
# Pillow==10.2.0
